<!DOCTYPE html>
<html>
<head>
	<title>Faculty Data Page</title>
</head>
<body>
	<h2 align="center"><u>Faculty Data</u></h2>
	<table border="1" align="center" cellspacing="1" cellpadding="5">
		<tr>
			<th>RgdID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Password</th>
		</tr>

		{% for i in data %}
		<tr>
			<td>{{ i.FID }}</td>
			<td>{{i.FName}}</td>
			<td>{{i.FEmail}}</td>
			<td>{{i.FPhone}}</td>
			<td>{{i.FPassword}}</td>
		</tr>
		{% endfor %}
	</table>

	<a href="{% url 'home' %}">HOME</a>
</body>
</html>